{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<h1>Nos Marques</h1>

<div class="brands-list">
    {% for brand in brands %}
        <div class="brand-item">
            {% if brand.logoPath %}
                <img src="{{ asset('media/brand/' ~ brand.logoPath) }}" alt="{{ brand.name }}">
            {% endif %}
            <h2><a href="{{ path('shop_brand_show', {slug: brand.translations|first.slug}) }}">
                {{ brand.translations|first.name }}
            </a></h2>
        </div>
    {% else %}
        <p>Aucune marque disponible.</p>
    {% endfor %}
</div>
{% endblock %}
