{% if data and data.logoPath %}
    <img src="{{ asset(data.logoPath) }}" alt="{{ data.name ?: 'Brand' }}" style="height: 50px; max-width: 100px; object-fit: contain;">
{% else %}
    <span class="ui grey text">{{ 'rika_sylius_brand.ui.no_logo'|trans }}</span>
{% endif %}
