{# templates/admin/menu/_brands_menu.html.twig #}

<a class="item" href="{{ path('rika_sylius_brand_admin_brand_index') }}">
    <i class="star icon"></i>
    {{ 'rika_sylius_brand.menu.admin.main.catalog.brands'|trans }}
</a>